#root {
    padding: 1rem;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

button {
    margin-left: 10px;
}

input {
    font-size: 16px;
}

/* #uploader {
    font-size: 1rem;
}

#progress-container {
    margin: 8px 0;
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        padding: 4px 0;

        progress {
            margin-left: 1rem;
        }
    }
} */